<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | About</title>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/fevicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar-main">


            <ul class="nav navbar-nav navbar-right">
						<li><a href="/about" >About</a></li>
						<li><a href="/events">Events</a></li>
						<li><a href="/workshops" >Workshops</a></li>
						<li><a href="/culturals" >Culturals</a></li>
						<li><a href="/ff" >Film Festival</a></li>
						<li><a href="/literary" >Literary Fest</a></li>
						<li><a href="/lectures" >Guest Lectures</a></li>
						<li><a href="/sponsors" >Sponsors</a></li>
						<li><a href="/register" >Register</a></li>
					</ul>

        </div>
    </div>
</div>
<br>

<center><h2>GUSAC Carnival 2015</h2></center>

<br>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="img/03.jpg" width="100%" height="auto" border="0">
		</div>
		<div class="col-md-6">
			<blockquote>
				<p>This Year, we are coming back with bigger spirits and a newer theme – Digital India..</p>
				<small>Tem GUSAC</small>
			</blockquote>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Digital India</h3>
				</div>
				<div class="panel-body">
					Technically, an initiative of the Govt. of India (NeGP), this project
					aims for every citizen to avail any and all services through the web,
					and includes “making India a digitally empowered country”. This
					undertaking aspires to deliver digital services, establish a digital
					infrastructure and expand the digital literacy of the people. This year,
					the GUSAC team is resolved to bring India onto the grid, by bringing
					all its citizens under the umbrella of digital community. As part of the
					program , the team is set to attend to a rural village in order to
					spread awareness by providing computers and internet services. This
					aspires to update digital education in rural areas, and taking a step
					closer to the intended target. Although our individual digital
					footprints may not account much, the goal can be achieved through
					the combined efforts of the community.
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="img/06.jpg" width="100%" height="auto" border="0">
		</div>
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">About GUSAC</h3>
				</div>
				<div class="panel-body">
					GUSAC (GITAM University Science and activities center) is the
					student body of GITAM founded in the year 2011 to provide a
					platform for budding professionals. Our motto that keep us inspired
					and motivated states “Its not what you know, its about what you do
					with what you know”. One of the most awaited annual events of the university, the GUSAC
					Carnival never fails to amaze everyone with its multitude in all the
					best ventures. With something awaiting each individual, this is a
					brilliant platform that serves for a cause on levels both intellectual
					and ethical. It has been and shall always revive your senses.
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<img src="img/07.jpg" width="100%" height="auto" border="0">
		</div>
	</div>
</div>

<br>
<center><h2>And Finally here is our Doodle</h2></center>

<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<img src="img/2.jpg" width="100%" height="auto" border="0">
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
	<footer>
		<div class="container-fluid footer-design">

			<div class="row text-center">
				<div class="col-xs-4"><a href="http://facebook.com/gusaccarnival">Team</a> </div>
				<div class="col-xs-4"><a href="/contact">Contact</a></div>
				<div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
			</div>
			<div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
		</div>
	</footer>

	<script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script defer src="js/bootstrap.min.js"></script>
	<script defer src="js/main.js"></script>
</body>
</html>
