<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
    <meta name = "keywords" content = "GUSAC carnival 2015 gusac GITAM " >
    <meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Pro-Nite | Register </title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/fevicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar-main">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about" >About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/workshops" >Workshops</a></li>
                <li><a href="/culturals" >Culturals</a></li>
                <li><a href="/ff" >Film Festival</a></li>
                <li><a href="/literary" >Literary Fest</a></li>
                <li><a href="/lectures" >Guest Lectures</a></li>
                <li><a href="/sponsors" >Sponsors</a></li>
                <li><a href="/register" >Register</a></li>
            </ul>

        </div>
    </div>
</div>

<div class="container">
    <br>
    <p class="text-danger">NOTE 1 : Each participating group has to pay INR 500 (This fee is only applicable for the competition and not the Carnival).</p>
    <p class="text-success">NOTE 2 : The payment for the competition could be done on the day of the event, although you should register yourself as a team
    prior to the competition.</p>
    <p class="text-warning">NOTE 3 : The receipts for the competition will be given on the day of the competition.</p>
    <p class="text-info">So Don't worry with any of it. For further info and clarity please mail to teamkalakrithi@gmail.com</p>
    <form class="form-horizontal" method="POST" action="/controller/cultregister">

            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Name of the Band</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" name="bandname" placeholder="Band Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" name="bandemail" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber" class="col-lg-2 control-label">Phone Number</label>
                <div class="col-lg-6">
                    <input type="tel" class="form-control" name="bandcontact" placeholder="Phone Number" required>
                </div>
            </div>
            <p class="text-danger">NOTE : Maximum of 5 members per band and Minimum of 2 members</p>
            <div class="form-group">
                <label for="inputPhoneNumber" class="col-lg-2 control-label">Band Member 1 (details):</label>
                <div class="col-lg-6">
                    <input type="tel" class="form-control" name="bandmem1" placeholder="Band Member 1" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber" class="col-lg-2 control-label">Band Member 2 (details):</label>
                <div class="col-lg-6">
                    <input type="tel" class="form-control" name="bandmem2" placeholder="Band Member 2" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber" class="col-lg-2 control-label">Band Member 3 (details):</label>
                <div class="col-lg-6">
                    <input type="tel" class="form-control" name="bandmem3" placeholder="Band Member 3">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber" class="col-lg-2 control-label">Band Member 4 (details):</label>
                <div class="col-lg-6">
                    <input type="tel" class="form-control" name="bandmem4" placeholder="Band Member 4">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber" class="col-lg-2 control-label">Band Member 5 (details):</label>
                <div class="col-lg-6">
                    <input type="tel" class="form-control" name="bandmem5" placeholder="Band Member 5">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default ">Cancel</button>
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
            </div>
    </form>
</div>

<footer>
    <div class="container-fluid footer-design">

        <div class="row text-center">
            <div class="col-xs-4"><a href="http://facebook.com/gusaccarnival">Team</a> </div>
            <div class="col-xs-4"><a href="/contact">Contact</a></div>
            <div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
        </div>
        <div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
    </div>
</footer>

<script src="js/jquery-2.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootswatch.js"></script>
</body>
</html>
