<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "author" content = "Akhil Pandey , Raja Vijaya Saradhi, Om Bhallamudi">
    <meta name = "keywords" content = "GUSAC carnival 2015 gusac GITAM " >
    <meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

    <title>Carnival | Home</title>
	<link rel="icon" type="image/png" href="img/fevicon.png">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/skel.css">
	<link rel="stylesheet" type="text/css" href="css/inherit.css">

</head>
<body id="home3">

	<div class="st-container">

		<nav class="nav-menu">
			<h3>Menu</h3>
			<a href="/about" class="item">About</a>
			<a href="/events" class="item">Events</a>
			<a href="/workshops" class="item">Workshops</a>
			<a href="/culturals" class="item">Culturals</a>
			<a href="/ff" class="item">Film Festival</a>
			<a href="/literary" class="item">Literary Festival</a>
			<a href="/lectures" class="item">Guest Lectures</a>
			<a href="/sponsors" class="item">Sponsors</a>
			<a href="/register" class="item">Register</a>
		</nav>

		<div class="st-pusher">
			<div class="st-content">

				<header class="navbar navbar-inverse hero" role="banner">
			  		<div class="container">
			    		<div class="navbar-header">
			      			<a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
			    		</div>
			    		<div class="sidebar-toggle">
			    			<div class="line"></div>
			    			<div class="line"></div>
			    			<div class="line"></div>
			    		</div>
			  		</div>
				</header>

				<div id="hero">
					<div style="background-position: 50% 50%;" id="cover-image" class="animated fadeIn">
						<div class="container">
							<h1 class="hero-text animated fadeIn text-danger">GUSAC Carnival 2015 <br><br> Presented By</h1>
							<div class="screenshot animated fadeInUp">
								<img src="img/sponsors/sp1.png" class="img-responsive" width="40%" height="auto" border="0" alt="screenshot">
							</div>
						</div>
					</div>
				</div>

				<div id="tabs">
					<div class="container">
						<div class="row header">
							<div class="col-md-12">
								<h3>Our Various Modules</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 tabs-wrapper">
								<ul class="nav nav-tabs">
								  	<li class="active"><a href="#events" data-toggle="tab">Events</a></li>
								  	<li><a href="#ff" data-toggle="tab">Film Festival</a></li>
								  	<li><a href="#lectures" data-toggle="tab">Guest Lectures</a></li>
								  	<li><a href="#workshops" data-toggle="tab">Workshops</a></li>
								  	<li><a href="#literary" data-toggle="tab">Literary Festival</a></li>
								  	<li><a href="#culturals" data-toggle="tab">Cultural Festival</a></li>
								</ul>

								<div class="tab-content">
								  	<div class="tab-pane fade in active" id="events">
								  		<div class="col-md-6 info">
								  			<h4>Events</h4>
								  			<p>Various events covering from electronics, robotics, pharmacy, civil etc and so on are the disciplines covered as part of Carnival.<br/> <br/> <a href="/events" class="btn btn-success">View More</a></p>
								  		</div>
								  		<div class="col-md-6 image">
								  			<img src="img/01.jpg" class="img-responsive" alt="pic1">
								  		</div>
								  	</div>

								  	<div class="tab-pane fade" id="ff">
								  		<div class="col-md-6 image">
								  			<img src="img/06.jpg" class="img-responsive" alt="pic2">
								  		</div>
								  		<div class="col-md-6 info">
								  			<h4>Film Festival</h4>
								  			<p>It is our photography club's event, directors, photographers etc everyone can lookup to this event.<br/><br/><a href="http://gitamstudio.com/" class="btn btn-info">View More</a></p>
								  		</div>
								  	</div>

								  	<div class="tab-pane fade" id="lectures">
								  		<div class="col-md-6 info">
								  			<h4>Guest Lectures</h4>
								  			<p>Eminent people covering various disciplines would be delivering good lectures.<br/><br/><a href="/lectures" class="btn btn-danger">View More</a></p>
								  		</div>
								  		<div class="col-md-6 image">
								  			<img src="img/3.jpg" class="img-responsive" style="position: relative;top: 15px;" alt="pic3">
								  		</div>
								  	</div>

								  	<div class="tab-pane fade" id="workshops">
								  		<div class="col-md-6 image">
								  			<img src="img/4.jpg" class="img-responsive" alt="pic4">
								  		</div>
								  		<div class="col-md-6 info">
								  			<h4>Workshops</h4>
								  			<p>As always we come up with a great line of workshops, soon you would get to know the details of the workshop.<br/><br/><a href="/workshops" class="btn btn-warning">View More</a></p>
								  		</div>
								  	</div>

								  	<div class="tab-pane fade" id="literary">
								  		<div class="col-md-6 image">
								  			<img src="img/2.jpg" class="img-responsive" alt="pic4">
								  		</div>
								  		<div class="col-md-6 info">
								  			<h4>Literary Festival</h4>
								  			<p>This time we are bringing a lot of events which will bring out your literature skills and other aspects of a truely bookish type of festival.<br/><br/><a href="/literary" class="btn btn-success">View More</a></p>
								  		</div>
								  	</div>

								  	<div class="tab-pane fade" id="culturals">
								  		<div class="col-md-6 image">
								  			<img src="img/07.jpg" class="img-responsive" alt="pic4">
								  		</div>
								  		<div class="col-md-6 info">
								  			<h4>Cultural Festival</h4>
								  			<p>The cultural fiesta of our fest will be back with some spectacular performances.<br/> <br/><a href="/culturals" class="btn btn-info">View More</a></p>
								  		</div>
								  	</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-sm-3 copyright">
								GUSAC Carnival 2015
							</div>
							<div class="col-sm-6 menu">
								<ul>
				      				<li>
				          				<a href="http://facebook.com/gusaccarnival">Team</a>
				        			</li>
				        			<li>
				        				<a href="/contact">Contact</a>
				        			</li>
				        			<li>
				          				<a href="/events">Events</a>
				        			</li>
				        			<li>
				          				<a href="/workshops">Workshops</a>
				        			</li>
				        			<li>
				          				<a href="/register">Register</a>
				        			</li>
				      			</ul>
							</div>
							<div class="col-sm-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/theme.js"></script>

</body>
</html>