<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | Guest Lectures</title>
	<link rel="stylesheet" type="text/css" href="css/default_lectures.css" />
    <link rel="stylesheet" type="text/css" href="css/component_lectures.css" />
    <script src="js/modernizr.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/fevicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar-main">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about" >About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/workshops" >Workshops</a></li>
                <li><a href="/culturals" >Culturals</a></li>
                <li><a href="/ff" >Film Festival</a></li>
                <li><a href="/literary" >Literary Fest</a></li>
                <li><a href="/lectures" >Guest Lectures</a></li>
                <li><a href="/sponsors" >Sponsors</a></li>
                <li><a href="/register" >Register</a></li>
            </ul>

        </div>
    </div>
</div>

<div class="container">

    <div class="main">
        <ul class="cbp_tmtimeline">
            <li>
                <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>Guest 1</span> <span>8/10/15</span></time>
                <div class="cbp_tmicon cbp_tmicon-phone"></div>
                <div class="cbp_tmlabel">
                    <img src="img/lectures/1.jpg" class="img-responsive img-circle lecture-dp">
                    <h2>C. S. Rao</h2>
                    <h4>Honorary Chairman, India</h4>
                    <p>
                        He is Managing Director - Intel ,India & South Asia &Middle East ,WiMAX Program ,2008

                        Chairman, IT,TELECOM & Convergence Committee,ASSOCHAM,- a national Chamber of commerce

                        A member of National Mfg Competitive Commission,(NMCC)He is now the chairman &  CEO of

                        QUADGEN Wireless Solutions Inc , USA BT (British telecom) India Pvt Ltd , Lucent India,

                        PRESIDENT&CEO of Tellabs India , Mg.Director, India. He was also the President of Reliance

                        Telecommunications.A core group team of first founder 10 members at CDOT and G.M ,CDO.He

                        received Honarary Doctorate awarded from Andhra University and Business Leadership Award ,

                        Assocham , a National Chamber of Commerce.He also received National Research

                        Development Council (NRDC) award from President of India

                        Innovation , Leadership &Achievement Awards, Tellabs ,USA
                    </p>
                </div>
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>Guest 2</span> <span>8/10/15</span></time>
                <div class="cbp_tmicon cbp_tmicon-screen"></div>
                <div class="cbp_tmlabel">
                    <img src="img/lectures/3.jpg" class="img-responsive img-circle lecture-dp">
                    <h2>Prathibha Sastry</h2>
                    <h4>#Startup Evangelist #Entrepreneur #DigitalDeshLeadTravellers </h4>
                    <p>
                        Entertainment and entrepreneurship have been the key themes in her work life. In a
                        career spanning over 16 years, she had launched a film magazine, hosted a film-based
                        radio talk show, and as entertainment evolved courtesy the influx of technology, she
                        kept pace and co-founded a mobile app based on the Indian entertainment
                        industry.Being a seasoned entrepreneur, she enjoys working with startups used to
                        manage an ecosystem of entrepreneurs, mentors, investors and Customers/Partners for
                        Organisations like Microsoft Ventures,and for Pluggd.in India, in addition to promoting
                        women entrepreneurs in India through my activities with PS Academy and other
                        ecosystem partners.She have been the recipient of the British Council’s Young Creative
                        Entrepreneur- India 2008-09 and have represented the country at the International
                        Young Creative Entrepreneurs Program held in London in October, 2008.She is the
                    </p>
                </div>
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>Guest 3</span> <span>8/10/15</span></time>
                <div class="cbp_tmicon cbp_tmicon-mail"></div>
                <div class="cbp_tmlabel">
                    <img src="img/lectures/4.jpg" class="img-responsive img-circle lecture-dp">
                    <h2>Dr. Pawan Agarwal</h2>
                    <h4>#Entrepreneurship #Skills #Interests </h4>
                    <p>
                        Dr Pawan Agrawal is the founder and President of Kamalabai Educational and Charitable Trust,
                        Mumbai. An International Motivational Speaker, Author, Educationist, Business Consultant and
                        successful Entrepreneur. He inspires and encourages people, making them realize their true
                        potential. He delivers session on “Supply Chain Management of Mumbai Dabawala and Mumbai
                        Paperwala”- grate story where deliverables or takeaways such as Time Management,
                        Retention/attrition, Commitment, Leadership, Customer satisfaction, Quality, 100 %Execution,
                        Logistics & Supply chain etc can be shared. He has given several talks around India, as well as in
                        various countries in Asia and Africa and beyond the Pacific in the United States and the United
                        Kingdom. His 30 years of research, understanding and experience have helped people on the path
                        of personal growth and organizational fulfillment. He has invited as Guest speaker & Key note
                        speaker to many organizations also.
                    </p>
                </div>
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>TBA</span> <span>TBA</span></time>
                <div class="cbp_tmicon cbp_tmicon-phone"></div>
                <div class="cbp_tmlabel">
                    <h2>More Speakers </h2>
                    <h4>#GuestLectures #Carnival #GUSACCARNIVAL2015 </h4>
                    <p>We will be updating you with the latest speakers soon.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<footer>
    <div class="container-fluid footer-design">

        <div class="row text-center">
            <div class="col-xs-4"><a href="http://facebook.com/gusaccarnival">Team</a> </div>
            <div class="col-xs-4"><a href="/contact">Contact</a></div>
            <div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
        </div>
        <div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
    </div>
</footer>

<script src="js/jquery-2.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootswatch.js"></script>
</body>
</html>
