
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
    <meta name = "keywords" content = "GUSAC carnival 2015 gusac GITAM " >
    <meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Carnival | Workshops </title>
    <link rel="icon" type="image/png" href="img/fevicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style_workshop.css" />
    <script src="js/modernizr.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>

<center><a href="../">Go Back</a></center>
<br>
<br>

<div class="container">

    <div id="theGrid" class="main">
        <div id="theSidebar" class="sidebar">
            <button class="close-button fa fa-fw fa-close"></button>
        </div>
        <section class="grid">

            <a class="grid__item" href="#">
                <h2 class="title title--preview">Workshop on 3D Printing</h2>
                <div class="loader"></div>
                <span class="category">By AerotriX</span>
                <div class="meta meta--preview">
                    <span class="category">3D Printing</span>
                    <span class="meta__date"><i class="fa fa-calendar-o"></i>8th October &</span>
                    <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 9th October</span>
                </div>
            </a>
            <a class="grid__item" href="#">
                <h2 class="title title--preview">Quadrotor Design, Fabrication & Flying Workshop</h2>
                <div class="loader"></div>
                <span class="category">By Roboversity</span>
                <div class="meta meta--preview">
                    <span class="category">Multi-copters</span>
                    <span class="meta__date"><i class="fa fa-calendar-o"></i> 8th October &</span>
                    <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 9th October</span>
                </div>
            </a>
            <a class="grid__item" href="#">
                <h2 class="title title--preview">Solar Smart Energy Systems</h2>
                <div class="loader"></div>
                <span class="category">By Roboversity</span>
                <div class="meta meta--preview">
                    <span class="category">Renewable Energy Systems</span>
                    <span class="meta__date"><i class="fa fa-calendar-o"></i> 8th October &</span>
                    <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 9th October</span>
                </div>
            </a>
            <a class="grid__item" href="#">
                <h2 class="title title--preview">Automobile Prototyping Workshop</h2>
                <div class="loader"></div>
                <span class="category">By AerotriX</span>
                <div class="meta meta--preview">
                    <span class="category">Mechanical Engineering</span>
                    <span class="meta__date"><i class="fa fa-calendar-o"></i> 8th October &</span>
                    <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 9th October</span>
                </div>
            </a>
            <a class="grid__item" href="#">
                <h2 class="title title--preview">Gesture Based Robotics</h2>
                <div class="loader"></div>
                <span class="category">By Roboversity</span>
                <div class="meta meta--preview">
                    <span class="category">Electronics</span>
                    <span class="meta__date"><i class="fa fa-calendar-o"></i>8th October &</span>
                    <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 9th October</span>
                </div>
            </a>
            <a class="grid__item" href="#">
                <h2 class="title title--preview">Apple Workshop</h2>
                <div class="loader"></div>
                <span class="category">By Apple.Inc</span>
                <div class="meta meta--preview">
                    <span class="category">Development</span>
                    <span class="meta__date"><i class="fa fa-calendar-o"></i>8th October &</span>
                    <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 9th October</span>
                </div>
            </a>

        </section>

        <br>
        <center><a href="/workshopreg" class="btn btn-warning">Register</a></center>

        <section class="content">
            <div class="scroll-wrap">
                <article class="content__item">
                    <span class="category category--full">GUSAC CARNIVAL</span>
                    <span class="category category--full">---- Presents ----</span>
                    <h2 class="title title--full">Workshop on 3D Printing</h2>
                    <div class="meta meta--full">
                        <img class="meta__avatar" src="img/workshop/1.jpg" alt="author01" />
                        <span class="meta__author">By AerotriX</span>
                        <span class="meta__date"><i class="fa fa-calendar-o"></i>8th October</span>
                        <span class="meta__reading-time"><i class="fa fa-clock-o"></i>2 Day Workshop</span>
                    </div>
                    <p>Imagine a world where you can make anything you want, just by pressing a single key “PRINT”. Ever wondered the process involved to make a three-dimensional object?.</p>
                    <p>To burst this question mark in your head, GUSAC Carnival 2015 brings to you a workshop on 3D printing.</p>
                    <p>3D Printing is an Additive Manufacturing technique that creates a physical object from a virtual 3D CAD model by depositing successive layers of material. They work like the traditional inkjet printers, but instead of ink, a 3D printer deposits desired material to manufacture an object from its digital format..</p>
                    <p>What will you be learning from this workshop:</p>
                    <li>Learn about the materials, designing of CAD models, working of a 3D Printer.</li>
                    <p>General Principles:</p>
                        <li>Modeling</li>
                        <li>Printing</li>
                        <li>Finishing</li>
                    <li>Understand how to build and calibrate a 3D printer.</li>
                    <li>Understand the basics of G code generation.</li>
                    <li>The participants will get 3D printed models that they design.</li>
                    <br>
                    <p>This new upcoming technology is to make product visualization from design stage simpler. Here, participants will design, operate and print parts using 3D printers on their own.GUSAC Carnival 2015 comes with the best team to impart knowledgeabout 3D printing, on the 8th and 9th of October with a cost of <strong>1100 INR</strong> per participant only.</p>
                    <br>
                    <br>
                </article>
                <article class="content__item">
                    <span class="category category--full">GUSAC CARNIVAL</span>
                    <span class="category category--full">---- Presents ----</span>
                    <h2 class="title title--full">Quadrotor Design, Fabrication & Flying Workshop</h2>
                    <div class="meta meta--full">
                        <img class="meta__avatar" src="img/workshop/2.jpg" alt="author02" />
                        <span class="meta__author">By Roboversity</span>
                        <span class="meta__date"><i class="fa fa-calendar-o"></i> 8th October</span>
                        <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 Day Workshop</span>
                    </div>
                    <p>Many young minds were inspired after Aamir Khan flew an innovative object which was spectacular in its flight. That splendid air vehicle is known by the name of Quadrotor. Quadrotor is a multi rotor air vehicle which has marked its interests for the benefit of both civil and military domains. It’s amazing maneuverability and the ease to fly in constricted locations has achieved itself a remarkable position in the aviation sector.</p>
                    <p>GUSAC CARNIVAL now bringing you the opportunity to understand the theory behind the functioning of quadrotors and their design. It makes the participants to work hands-on in designing the circuit and to build the rotary wing aircrafts. This workshop takes the participants through a series of interactive lectures and design sessions supplemented by practical sessions, thereby providing a complete learning experience.</p>
                    <p>What will you learn after attending the workshop:</p>
                    <li>Develop very good understanding of quadrotor</li>
                    <li>Design the entire quadrotor themselves under the guidance of professionals</li>
                    <li>Will lead to very good job opportunities especially in the area of UAV’s and MAV’s</li>
                    <li>Can easily use this experience to develop good B.Tech/ M.Tech projects</li>
                    <li>Helps to face job interviews with confidence</li>
                    <li>Hands-on experience in addition to their classroom trainings will transform the students into better engineers</li>
                    <li>Opportunity to interact with experts to discuss career options</li>
                    <p>The highlights of the course are :</p>
                    <li>Introduction to design of quadrotor</li>
                    <li>Introduction to instrumentation of quadrotor</li>
                    <li>Exposure to multi disciplinary content</li>
                    <li>Complete quadrotor designed and fabricated by the participants. No ready-to-assemble kits.</li>
                    <li>Hands-on experience for participants with motors, radios, control boards etc.</li>
                    <li>Encourages participants to think and come up with new designs</li>
                    <li>Opportunity for online examination and certification</li>
                    <li>Certificates issued to all participants</li>
                    <li>Good multimedia content to help participantsgrasp the material easily</li>
                    <li>Career guidance by experienced faculty</li>
                    <li>Workshop developed by IIT Kanpur Aerospace Engineering Graduates</li>
                    <p>2 Day workshop – includes lectures, design sessions, fabrication sessions and flying. Cost: <strong>INR 6000</strong> for team of 4-5 members for economy kit*.Cost: <strong>INR 22500</strong> for team of 4-5 members who want to buy the kit permanently (Complete Kit) Cost includes training material, software and instruction manual.Economy Kit has some components for temporary use during the workshop. This is done to make the workshop affordable to all.</p>
                    <br>
                    <br>
                </article>
                <article class="content__item">
                    <span class="category category--full">GUSAC CARNIVAL</span>
                    <span class="category category--full">---- Presents ----</span>
                    <h2 class="title title--full">Solar Smart Energy Systems</h2>
                    <div class="meta meta--full">
                        <img class="meta__avatar" src="img/workshop/3.jpg" alt="author03" />
                        <span class="meta__author">By Roboversity</span>
                        <span class="meta__date"><i class="fa fa-calendar-o"></i> 8th October</span>
                        <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 Day Workshop</span>
                    </div>
                    <p>Did you ever wonder about how solar and Smart Energy Systems work and how to make them? Well, to satisfy your mind boggling curiosity; GUSAC Carnival 2015 brings to you; the exciting tech packed Solar and Smart Energy Systems Workshop! So gear up!</p>
                    <p>Solar and Smart Energy Systems Workshop involves hands-on experience on two emerging fields - Renewable energy and Electrical Energy Efficiency.On the first day, participants learn about renewable energy sources and the techniques to yield electrical energy using solar power. This includes practical exposure to solar energy production along with real-life application of charging mobile devices.The second day starts with concepts on Smart energy and other industry trends like green energy, smart building, smart grid and energy harvesting technologies. To help participants learn about the efficient use of electrical energy, a prototype Smart Traffic Control System is executed as project outcome.</p>
                    <p>Course Highlights :</p>
                    <li>Design and Develop Smart Traffic Signal Control Systems and the Solar-powered Mobile Charger</li>
                    <li>Understanding Renewable Energy and Smart Systems</li>
                    <li>Exposure to Embedded systems, Microcontroller programming and Digital Sensors</li>
                    <li>Practical experience with live working projects on Smart system and solar panels</li>
                    <p>The Fee is <strong>INR 6000/per team (Max 5 students per team</strong></p>
                    <p>Course Structure :</p>
                    <li>Lecture Session - 3 hrs</li>
                    <li>Circuit Design Session - 3 hrs</li>
                    <li>Solar Mobile Charger Testing Session - 2 hrs</li>
                    <li>Design of Smart Traffic Control System – 3 hrs</li>
                    <li>Hardware and Programming Session - 3 hrs</li>
                    <li>Testing of Traffic control system - 2 hrs</li>
                    <p>Topics Covered :</p>
                    <li>Renewable energy - An Introduction</li>
                    <li>Solar panel – Functioning & Applications</li>
                    <li>Smart Energy Systems – Necessity & Implementation</li>
                    <li>Microcontroller - Architecture</li>
                    <li>Development Board - Design & Components</li>
                    <li>Digital sensor – Circuit and calibration</li>
                    <li>Traffic controlled system-Design and implementation</li>
                    <li>Programming - Embedded C Programming, IDE & Flashing</li>
                    <p>Kit Content :</p>
                    <li>21V Solar Panel</li>
                    <li>Skyfi Labs' Development Board</li>
                    <li>9V Battery</li>
                    <li>Digital Sensors</li>
                    <li>Components of mobile charger</li>
                    <li>Nose pliers*</li>
                    <li>Wire stripper*</li>
                    <li>Screw driver*</li>
                    <li>Other working tools</li>
                    <p><strong>* Marked items will be taken back</strong></p>
                    <br>
                    <br>
                </article>
                <article class="content__item">
                    <span class="category category--full">GUSAC CARNIVAL</span>
                    <span class="category category--full">---- Presents ----</span>
                    <h2 class="title title--full">Automobile Prototyping Workshop</h2>
                    <div class="meta meta--full">
                        <img class="meta__avatar" src="img/workshop/4.jpg" alt="author05" />
                        <span class="meta__author">By AerotriX</span>
                        <span class="meta__date"><i class="fa fa-calendar-o"></i> 8th October</span>
                        <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 Day Workshop</span>
                    </div>
                    <p>Automobile design (RC CAR) gives you a unique experience of designing and understanding the concepts of the RC car, the participants need to build their own radio-controlled car replicating most of the systems present in an actual automobile. It is based on implementation of concepts powertrain, suspension, steering systems etc.</p>
                    <p>What will you learn after attending the workshop :</p>
                    <li>Basics of Automobiles.</li>
                    <li>Gain knowledge about different automobile systems like powertrain, transmission, suspension, steering systems.</li>
                    <li>Aerodynamics and stability.</li>
                    <li>Aerodynamic analysis of car using ALTAIR engineering</li>
                    <li>Controlling automobile using Radio controller.</li>
                    <li>Types and components of Radio Control cars.</li>
                    <li>Design and fabrication of an RC Car.</li>
                    <p>Course Highlights :</p>
                    <li>Design & build your own RC Car with Powertrain, suspension & steering systems</li>
                    <li>Comparative case studies about on-road automobiles for better understanding</li>
                    <li>Introduction to latest trends in Automobile Engineering</li>
                    <p>Concepts Covered :</p>
                    <li>Basics of Automobiles</li>
                    <li>Powertrain System</li>
                    <li>Transmission Systems</li>
                    <li>Suspension Systems (wishbone, double wishbone,trailing arm, multi-link)</li>
                    <li>Steering Systems (rack and pinion, Cam & lever,worm & lever)</li>
                    <li>Locomotion (Tyres/brakes/wheels)</li>
                    <li>Chassis</li>
                    <li>Aerodynamics and Stability</li>
                    <li>Radio control car (over view)</li>
                    <li>Fabrication of RC Car</li>
                    <p><strong>INR 6500 per a team of max. 5.</strong></p>
                    <p>Course Structure:</p>
                    <li>Basics of Automobiles – Duration 0.5 hours.</li>
                    <li>Detailed exposure to different systems in Automobile – Duration 5 hour</li>
                    <li>Comparative Case studies & Group Discussion on existent automobiles – Duration 1 hour</li>
                    <li>Discussion of problem statements from previous international student automobile competitions like FSAE, BAJA etc., - 0.5 hour</li>
                    <li>Future of Automobiles – Duration 30 minutes.</li>
                    <li>Design & Fabrication of an RC Car – 8 hour.</li>
                    <p>Kit Contents</p>
                    <li>DC Motors *</li>
                    <li>Electronic Speed Controller *</li>
                    <li>Transmitter *</li>
                    <li>Receiver *</li>
                    <li>Li-Po Battery *</li>
                    <li>Servo Motor (1 piece) *</li>
                    <li>Suspensions</li>
                    <li>Wheels (4 pieces)</li>
                    <li>Plastic Gears</li>
                    <li>Chassis</li>
                    <li>Control Rods</li>
                    <li>Epoxy Glue</li>
                    <li>Working Tools*</li>
                    <li>Other miscellaneous items</li>
                    <p><strong>*Marked will be taken back, working tools will be taken back after the workshop.</strong></p>
                    <br>
                    <br>
                </article>
                <article class="content__item">
                    <span class="category category--full">GUSAC CARNIVAL</span>
                    <span class="category category--full">---- Presents ----</span>
                    <h2 class="title title--full">Gesture Based Robotics</h2>
                    <div class="meta meta--full">
                        <img class="meta__avatar" src="img/workshop/5.jpg" alt="author04" />
                        <span class="meta__author">By Roboversity</span>
                        <span class="meta__date"><i class="fa fa-calendar-o"></i> 8th October</span>
                        <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 Day Workshop</span>
                    </div>
                    <p>Have you ever been amazed by the way lifeless metal is transformed into a beautiful robot? Ever wanted to create a Robot of your own? Well now you can complete your dream and blow life into your own robot, GUSAC Carnival 2015 brings you a platform to work on “Gesture Robotics”.</p>
                    <p>Gesture robotics is a multidisciplinary field involving computer science and engineering. Addressing the design of automated systems, it lies at the intersection of artificial intelligence, computational vision, and</p>
                    <p>Get a hand on experience with:</p>
                    <li>Different ways that mobile robots can move themselves around, and which are most suitable for different environments</li>
                    <li>How a variety of sensors receive information about the environment around them.</li>
                    <li>Ways to classify sensors: proprioceptive vs exteroceptive; active vs passive</li>
                    <li>How a feedback system works.</li>
                    <li>How robots follow logical sequential instructions in order to function.</li>
                    <li>To create basic flow diagrams and pseudo code to program what a robot will do.</li>
                    <li>How to develop a list of design requirements for a robotic system.</li>
                    <li>How to design, implement and troubleshoot a robotic system.</li>
                    <li>How to program your phone into a remote control.</li>
                    <p>A lively and interactive session which will bring you a step closer to the world or robotic.</p>
                    <p><strong>Workshop fee is INR 6000 per team of 5 members.</strong> And Hurry up guys!!!! Register soon with GUSAC Carnival 2015 and grab the amazing opportunity to build your own Robot!!!</p>
                    <br>
                    <br>
                </article>
                <article class="content__item">
                    <span class="category category--full">GUSAC CARNIVAL</span>
                    <span class="category category--full">---- Presents ----</span>
                    <h2 class="title title--full">Apple Workshop</h2>
                    <div class="meta meta--full">
                        <img class="meta__avatar" src="img/workshop/6.png" alt="" />
                        <span class="meta__author">By Apple.Inc</span>
                        <span class="meta__date"><i class="fa fa-calendar-o"></i> 8th October</span>
                        <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 Day Workshop</span>
                    </div>
                    <p>Detail on Courses :</p>
                    <p>Day 1 :</p>
                    <li>Mac Basics  with OS  X   Professional (1  Hour)</li>
                    <li>Live  Experience  &   Showcase  of  All Apple   Products    (2  hours).</li>
                    <li>Editing Movies  using   Mac &   FinalCutPro X (3 hours).</li>
                    <li>A   Practice    session will    be  arranged    for Mac User’s  (1  Hour)</li>
                    <p>Day 2 :</p>
                    <li>Clear   in  detail  on  All Apple   Devices Keynote (2  Hours).</li>
                    <li>Live    Experience  &   Showcase    of  All Apple   Products    (4  hours).</li>
                    <p>Session Summary :</p>
                    <li>Training  on  “Use your Apple Device  Professionally” (All    Apple   Devices)</li>
                    <li>Training  on  Mac Basics  with OS X Professional.</li>
                    <li>Training  on  Editing Movies  using   Mac &   FinalCutPro X.</li>
                    <p>Event Host : Yogesh B</p>
                    <li>Session Lecture 1 : Ravi Kumar J</li>
                    <li>Session Lecture 2 : Kartheek T</li>
                    <p>Other info :</p>
                    <li>Digital Kits will be  given to everyone.</li>
                    <li>An Apple Issued Training Certificate will be given after Course Completion.</li>
                    <li>People  Interested  can attend  the Certification  exams  at  the session it  self, by  paying  as  per the Certification.</li>
                    <li>People  attend  Certification   exam,   the Candidate   Name    will    be  displayed   in  Apple Professional Registry.</li>
                    <center>Cost of the workshop is <strong>INR 2000</strong> </center>
                </article>
            </div>
            <button class="close-button">X</button>
        </section>
    </div>
</div>

<footer>
    <div class="container-fluid footer-design">

        <div class="row text-center">
            <div class="col-xs-4"><a href="/team">Team</a> </div>
            <div class="col-xs-4"><a href="/contact">Contact</a></div>
            <div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
        </div>
        <div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
    </div>
</footer>

<script src="js/classie_workshops.js"></script>
<script src="js/main_workshops.js"></script>

</body>
</html>
